@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
    background-image: url(http://i.imgur.com/Cxbe30h.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#header {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#abnazhor {
    text-align: center;
    font-size: 60px;
    color: #eaf9fa;
    background-color: rgba(203, 163, 163, 0.46);
    border-radius: 3px;
    font-family: 'Indie Flower', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    background-color: rgba(240, 248, 255, 0.71);
    height: auto;
    border-radius: 3px;
    display: block;
}

img {
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 5px 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: block ;
    margin: 2%;
}