@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

:root {
    --body-color: #faf8f4;
    --panels-color:#ffe5d4;
    --highlight-color: #c24c46;
    --header-font-color: #310d0b;
    --divider-color: #a02017;
    --tab-color: rgba(255, 255, 255, 0);
    --selected-tab-background-color: #f87555;
}

body {
    background-image: url("https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2092&q=80");
    background-position: center;
    background-size: cover;
}

#aligner {
    display: flex;
    align-content: center;
    height: 90vh;
}

#main_block {
    width: 25%;
    min-width: 400px;
    height: 70vh;
    min-height: 600px;
    display: block;
    background-color: var(--panels-color);
    border-radius: 3px;
    margin: auto;
    box-shadow: 7px 7px 25px #00000033;
}

#info {
    height: 10%;
}

#main_block h3 {
    color: var(--header-font-color);
    text-align: center;
    font-size: 1.5rem;
    height: 2%;
    position: relative;
    bottom: 10px;
    font-family: 'Vollkorn';
}

#main_block h5 {
    font-family: serif;
    font-weight: 300;
    height: 2%;
    text-align: center;
    font-size: 0.9rem;
}

#header img {
    width: 125px;
    border-radius: 100px;
    display: block;
    margin: auto;
    border: 3px solid var(--highlight-color);
}

#header {
    display: flex;
    align-items: center;
    height: 24%;
}

#content {
    height: 70%;
    color: var(--header-font-color);
    width: 90%;
    margin: auto;
}

#content p {
    text-align: justify;
}

#navbar {
    display: grid;
    grid-auto-flow: column;
    width: 90%;
    margin: auto;
}

#navbar a {
    text-align: center;
    margin: 1px;
    border-bottom: 2px solid var(--tab-color);
    text-decoration: none;
    color: var(--header-font-color);
    outline: 0;
}

.selectedTabLink {
    background-color: var(--selected-tab-background-color);
}

/*Classes*/
.divider {
    background-color: var(--divider-color);
    height: 2px;
    width: 90%;
    margin: auto;
    border-radius: 3px;
}

.tab:not(#tab1) {
    display: none;
    visibility: hidden;
}